	  <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'main' %}">Вопросы и ответы</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li {% block menu-top-main-active %}{% endblock%} ><a href="{% url 'main' %}">Новые</a></li>
            <li {% block menu-top-popular-active %}{% endblock%} ><a href="{% url 'popular' %}">Порулярные</a></li>
            <li {% block menu-top-ask-active %}{% endblock%}><a href="{% url 'ask' %}">Спросить</a></li>
            <li {% block menu-top-signup-action %}{%endblock%}><a href="{% url 'signup' %}">Регистрация</a></li>
            <li {% block menu-top-login-action %}{%endblock%}><a href="{% url 'login' %}">Войти</a></li>
            {% if user.is_authenticated %}
                <li><span class="label label-success">Пользователь: {{ user.username }}</span></li>
                <li><a href="{% url 'logout' %}">Выйти</a></li>
            {% endif %}

          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div>