{% extends "base.html" %}
{% block menu-top-signup-active %}class="active"{% endblock%}
{% block content%}

        <div class="row row-offcanvas row-offcanvas-right">


                    {% for e in form.non_field_errors %}
                        <div class="alert alert-danger">{{ e }}</div>
                    {% endfor %}
                    <form class="form-horizontal" method="post" action="/signup/">
                        {% csrf_token %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">Регистрация пользователя</h4>
                            </div>
                            <div class="panel-body">
                                <fieldset>
                                    {% for field in form %}
                                        <div class="control-group
                                            {% if field.errors %}has-error{% endif %}">
                                            <label class="control-label">{{ field.label }}</label>
                                            <div class="controls">{{ field }}</div>
                                        </div>
                                    {% endfor %}
                                </fieldset>
                            </div>
                            <div class="panel-footer">
                                <div class="form-actions">
                                     <button type="submit" class="btn btn-primary">Зарегистрировать</button>
                                </div>
                            </div>
                        </div>
                    </form>
        </div>
{% endblock %}